        body {
            margin: auto;
			font-family:tahoma;
			font-size:14px;
            width: 100%;
            background-color: #064676;
			}
        header {
            height:201px;
        }
        #title {
		font-size:32px;
        width: 290px;
        text-align: center;
        max-width: 100%;
        height: 125px;
		color:white;
        font-weight: bold;
		font-family: Arial Black;
		padding:15px; 
        margin-top: -164px;
        margin-left: 276px;
	}	
        #titulo {
		font-size:24px;
        max-width: 60%;
		color:white;
		font-family: tahoma;
        font-weight: bold;
		padding:9px;
        margin-top: -162px;
        margin-left: 500px;
        text-align: center;
	}
        
        
#menu  {
	        position: absolute;        
            width:100%;
            height:50px;
        }
		
#menu ul 	{
        list-style:none;
		position:relative;
		top:-15px;
        left: -40px;
        display: flex;
        width:100%;
		}
		
#menu ul li {
        flex-grow: 1;
		}

#menu ul > li {
			text-align: center;
            color: aliceblue;
			}
		
#menu ul li a {
			font-family: Arial Black;
            text-decoration: none;
            display: block;
            padding: 0.7em;
            margin-right: 1px;
             background: -webkit-linear-gradient(white,#2e73a7,#064676);
               background: -moz-linear-gradient(white,#2e73a7,#064676);
               background: -o-linear-gradient(white,#2e73a7,#064676);
                background: -ms-linear-gradient(white,#2e73a7,#064676);
		}		
			
#menu ul li a:hover{
				background-color: #f9f9f9;
				color: #9fcaeb;
				box-shadow: 0px 0px 25px white;
				-webkit-box-shadow: 0px 0px 25px white;
				-moz-box-shadow: 0px 0px 25px white;
                z-index: 100;
				}	
		
a:link{
	background-color:#000000;
	color:#ffffff;
}
a:visited{
	background-color:#orange;
	color:#ffffff;
}
a:hover{
	background-color:#ff00ff;
	color:#ffffff;
}
a:active{
	background-color:#ff0000;
	color:#ffff00;
}

h1 {
            text-align: center;
            color:white; 
		    font-family:tahoma;
            background-color: #0987e3;
            margin-top: 39px;
            padding: 7px;
        }

.categorias {
    margin-top: -16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3px;
      grid-column-gap: 3px;
    }

button {
  height: 80px;
  border-radius: 3px;
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  color: white;
  text-shadow: 0 1px rgba(255,255,255,.4);
}

button:hover {
  background-color: #eaeaea;
  color: #a2c6e8;
}


@media screen and (max-width:650px)   {
	#titulo {
		display: none;
	}
}	