<!DOCTYPE html>
<html lang="es">
<head>
	<title>Sistemas de Gestion de recursos repositorios digitales</title>
	<meta charset="utf-8">
	<link href="css/estilo.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
<div id="app">
<header>
   <img :src="image" width="263px" :alt="description">
    <div id="title">Open<br />Know</div>
    <div id="titulo"><br />Repositorio de recursos digitales de <br />aprendizaje y difusión del conocimiento<br /></div>
</header>
<nav id="menu">
    <ul>
        <li v-for="item in menu"><a>{{item}}</a></li>
    </ul>
</nav>
<main>
 <h1>{{ saberes }}</h1>  
<div class="categorias">
   <button type="button" v-for="categoria in categorias" :key="categoria.nombre" :style="{ backgroundColor: categoria.color }">{{categoria.nombre}}</button>
    </div>
    </main>
    </div>    
    <script src="./js/javascript5.js"></script>
  <script>
    const mountedApp = app.mount('#app');
  </script>
  </body>
</body>
</html>